# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Composer
/vendor/
composer.lock

# Node.js
nodegento/node_modules/*

# Python
pygento/__pycache__/*
pygento/pub/
pygento/real_api_output/*

# Magento
/var/
/pub/static/
/pub/media/cache/
/pub/media/tmp/
/pub/media/import/
/app/etc/env.php
/app/etc/config.php

# Logs
*.log

.gitignore
pygento/.venv/lib64
pygento/.venv/pyvenv.cfg
pygento/.venv/bin/python
pygento/.venv/bin/python3
pygento/.venv/bin/python3.12
