<?xml version="1.0"?>
<!--
/**
 * Genaker ImageAIBundle Frontend Routes
 *
 * @category    Genaker
 * @package     Genaker_ImageAIBundle
 * @author      Genaker
 * @copyright   Copyright (c) 2024 Genaker
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="genaker_imageaibundle" frontName="media">
            <module name="Genaker_ImageAIBundle"/>
        </route>
    </router>
</config>

